$primary-theme: #0078d4;
$secondary-theme: #f9826c;
$tertiary-theme: #086006;
$primary-border: #2b2b2b;
$primary-background: #181818;
$secondary-background: #313131;
$editor-border: #3a3d41;
$editor-background: #202020;
$primary-foreground: #1f1f1f;
$primary-white: #ffffff;
$tertiary-background: #3c3c3c;
$page-background: #2b2b2b;