<div class="line">
    <span class="number">1</span>
    <span class="comment">// Reach out via social links</span>
</div>

<div class="line">
    <span class="number">2</span>
    <span class="class-name"> .social-links </span>
    <span class="bracket"> &#123; </span>
</div>
<div class="line">
    <span class="number">3</span>
    <span class="key"> email </span>
    <span class="symbol">: </span>
    <a href="mailto:shreykumar.jain@gmail.com" class="value">shreykumar.jain&#64;gmail.com</a>
    <span class="symbol">; </span>
</div>
<div class="line">
    <span class="number">4</span>
    <span class="key"> phone </span>
    <span class="symbol">: </span>
    <a href="tel:+917417208673" class="value">+91 74 172 08673</a>
    <span class="symbol">; </span>
</div>
<div class="line">
    <span class="number">5</span>
    <span class="key"> linkedin </span>
    <span class="symbol">: </span>
    <a href="https://www.linkedin.com/in/er-shrey/" target="_blank" class="value">er-shrey</a>
    <span class="symbol">; </span>
</div>
<div class="line">
    <span class="number">6</span>
    <span class="key"> github </span>
    <span class="symbol">: </span>
    <a href="https://github.com/er-shrey" target="_blank" class="value">er-shrey</a>
    <span class="symbol">; </span>
</div>
<div class="line">
    <span class="number">7</span>
    <span class="bracket"> &#125; </span>
</div>

