@use "../../styles/colors";

:host {
    min-width: 13rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: colors.$primary-foreground;
    border-right: 1px solid colors.$primary-border;

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem 0.5rem 1.355rem;
        font-size: 0.625rem;

        span:last-of-type {
            margin-top: -5px;
            font-size: 1rem;
        }
    }

    .folder {
        padding-left: 0.125rem;
        font-size: 0.625rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        color: colors.$primary-white;
        cursor: pointer;
    }

    .files {
        margin-top: 0.5rem;
        list-style-type: none;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.25rem 1.4rem 0.25rem 1.4rem;
            cursor: pointer;
            
            img {
                height: 0.875rem;
            }

            span {
                font-size: 0.825rem;
            }

            &:hover {
                background-color: colors.$tertiary-background;
            }
        }
    }
}