<span class="watermark">FULL<br/>STACK<br/>DEV</span>
<img src="images/developer.svg" alt="developer" class="developer">

<div class="main-container">
    <span class="name">Shrey Kumar Jain</span>
    <span class="profile">Senior Software Engineer <a href="www.soroco.com">&#64;SOROCO</a></span>
    <a class="resume-downloader" href="resume/Shrey Jain - Soroco - SSE.pdf" download>Download Resume</a>
</div>

<div class="brand-image-container">
    <img src="images/iiitb.svg" alt="iiitb">
    <img src="images/sgsits.png" alt="sgsits">
    <img src="images/tmu.png" alt="tmu">
</div>