<!-- vscode logo -->
<img src="images/vscode.svg" alt="logo" class="logo">
<!-- Toolbar menu -->
<ul class="menu">
    <li class="menu-item">File</li>
    <li class="menu-item">Edit</li>
    <li class="menu-item">Selection</li>
    <li class="menu-item">View</li>
    <li class="menu-item">Go</li>
    <li class="menu-item">Run</li>
    <li class="menu-item">...</li>
</ul>
<!-- central editor panel -->
<div class="central-bar">
    <img src="icons/arrow-left.svg" alt="left" class="icon">
    <img src="icons/arrow-right.svg" alt="right" class="icon">
    <div class="title-panel">
        <img src="icons/search.svg" alt="search" class="icon">
        Shrey - Visual Studio Code
    </div>
    <img src="icons/copilot-large.svg" alt="copilot" class="icon">
</div>
<!-- layout icon group -->
<div class="layout-icons">
    <img src="icons/layout.svg" alt="layout" class="icon">
    <img src="icons/layout-sidebar-left.svg" alt="layout-sidebar-left" class="icon">
    <img src="icons/layout-panel.svg" alt="layout-panel" class="icon">
    <img src="icons/layout-sidebar-right-off.svg" alt="layout-sidebar-right-off" class="icon">
</div>
<!-- windows action buttons -->
<div class="windows-actions">
    <img src="icons/chrome-minimize.svg" alt="minimize" class="icon">
    <img src="icons/chrome-restore.svg" alt="restore" class="icon">
    <img src="icons/chrome-close.svg" alt="close" class="icon" (click)="closePortfolio()">
</div>