<ul class="menu main-menu">
    <li class="active">
        <img src="icons/files.svg" alt="files">
    </li>
    <li>
        <img src="icons/search.svg" alt="search">
    </li>
    <li>
        <img src="icons/git-merge.svg" alt="git">
    </li>
    <li>
        <img src="icons/debug-alt.svg" alt="debug">
    </li>
    <li>
        <img src="icons/extensions.svg" alt="extensions">
    </li>
</ul>
<ul class="menu user-menu">
    <li>
        <img src="icons/account.svg" alt="account">
    </li>
    <li>
        <img src="icons/settings-gear.svg" alt="settings">
    </li>
</ul>